.mt-100{
  margin-top: 100px;
}
.bg-light-gray{
 /* laravel background set for consistency between 2 apps */
  background-color: #F3F4F6
}

.nav-button{
  background-color: #F3F4F6;
  color: gray;
  text-decoration: none;
  padding:6px;
  border-radius: 10px;
  border: 3px gray solid;
  margin:5px;
  box-shadow: inset rgba(128, 128, 128, 0.409) 10px 10px 10px;
}



/* logo with breakpoints */

.logo img{
  max-width: 300px;
}

@media (min-width: 768px){
  .logo img {
      max-width: 400px;
    }
}
@media (min-width: 992px){
  .logo img {
      max-width: 450px;
    }
}