
.landing-button{
  background-color: #F3F4F6;
  color: gray;
  text-decoration: none;
  padding:6px;
  border-radius: 10px;
  border: 3px gray solid;
  margin:5px;
  box-shadow: inset rgba(128, 128, 128, 0.409) 10px 10px 10px;
}



/* logo with breakpoints */

.logo img{
  max-width: 300px;
}

@media (min-width: 768px){
  .logo img {
    max-width: 400px;
  }
}
@media (min-width: 992px){
  .logo img {
    max-width: 450px;
  }
}

/*=========================*/

/* 
utility 
*/
.mt-100{
  margin-top: 100px;
}
.mt-40{
  margin-top: 40px;
}
.mb-2{
  margin-bottom: 2px;
}

.bg-light-gray{
  /* laravel background set for consistency between 2 apps */
  background-color: #F3F4F6
}

.rounded-lg{
  border-radius: 5px;
}
.border-gray-200{
  border-color: rgb(200, 200, 200);
}

.h-full{
  height:100%;
}

.rotate-180 {
  transform: rotate(180deg);
}

.max-w-7x1{
  max-width: 80rem;
  
}

